{% extends "/layouts/main.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
        <div class="card" style="width: 400px; background-color: #e0f2f1;">
            <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt658bec41bb26fbcc/5e72666ea833ab066c0f103e/BeloRauschBG.png" class="card-img-top" alt="...">
            <div class="card-body" style="width: 390px;">
                <h5 class="card-subtitle mb-2 text-muted" >ID {{ data['_id'] }}</h5>
                <p class="list-group-item" style="height: 40px; border-radius: 5px;">Title: {{ data['title'] }}</p>
                <p class="list-group-item" style="height: 40px; border-radius: 5px;">Type: {{ data['type'] }}</p>
                <p class="list-group-item" style="height: 40px; border-radius: 5px;">Address: {{ data['address'] }}</p>
                <p class="list-group-item" style="height: 40px; border-radius: 5px;">Rooms: {{ data['rooms'] }}</p>
                <p class="list-group-item" style="height: 40px; border-radius: 5px;">Price: {{ data['price'] }}</p>
                <a href="/listed/{{ session['username'] }}" class="btn btn-danger">Go back</a>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}