{% extends "/layouts/main.html" %}

{% block body %}

<div class="container">
    <div class="row">
        {% for data in _data %}
            <div class="col-4">
                <div class="card" style="width: 370px; background-color: #e0f2f1;">
                    <img src="/static/image{{ data['lala']}}.jpg" class="card-img-top" alt="...">
                    <div class="card-body" style="width: 390px;">
                        <p class="list-group-item">Title: {{ data['lala'] }}</p>
                        <p class="list-group-item">Price: {{ data['price'] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
